#Aids{
    color: rgb(177, 188, 178);
    background-color: chocolate;
}
.Adithya{
    color: rgb(27, 27, 144);
}
.Akki{
    color: blueviolet;
}
.ram{
    color: chartreuse;
    background: yellowgreen;
}
#fac{
    color: aquamarine;
    background-color:darkblue;
}
.year{
    background-color: coral;
}
